In [1]:
print(2+2)

4

In [57]:
print(2+2)

4

In [3]:
print(3)

3

In [4]:
print("HI")

HI

In [6]:
print("Hello World!")

Hello World!

In [56]:
print("d")

d

In [8]:
x = 5

In [9]:
x = 5
y = 10

In [10]:
x

5

In [11]:
y

10

In [12]:
x =21

In [13]:
x

21

In [16]:
x = 21.122
e = 'my name is ismail'

In [15]:
e

'my name is ismail'

In [17]:
e = 'my name is ismail'

In [18]:
e

'my name is ismail'

working with variabes

In [20]:
myName ="Ismail"

In [21]:
myName

'Ismail'

In [25]:
fullName = print(myName + " " "Anjum")

Ismail Anjum

In [24]:
myName

'Ismail'

In [26]:
fullName

In [27]:
fullName

In [28]:
myName= myName + " " "Anjum"

In [29]:
myName

'Ismail Anjum'

In [30]:
myAge = 20

In [55]:
mySelf = "My name is " , myName ,"." , "My age is ", myAge
mySelf

('My name is ', 'Ismail Anjum', '.', 'My age is ', 20)

In [53]:
print(myName)

Ismail Anjum

In [52]:
print( "My name is " , fullName ,"." , "My age is ", myAge)

My name is  None . My age is  20

In [37]:
print( "My name is ",myName,". My age is ",myAge)

My name is  Ismail Anjum . My age is  20

In [36]:
myName

'Ismail Anjum'

In [51]:
type(x)

float

In [40]:
x

21.122

In [41]:
type(x)

float

In [43]:
x = True

In [50]:
type(x)

float

In [45]:
type(x)

bool

In [46]:
x = 32

In [58]:
# type(x)

In [59]:
"""x =32.323
type(x)
print(x)"""

32.323

In [60]:
x

32.323

In [61]:
"""io= 21
kscnsdj
sdkcsd"""

In [62]:
io

21

In [63]:
print(myName)

Ismail Anjum

In [64]:
dir(x)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [65]:
dir(print)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [66]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [67]:
name= "ismail"

In [68]:
name.upper()

'ISMAIL'

In [69]:
name

'ismail'

In [71]:
name.lower()

'ismail'

In [72]:
name.title()

'Ismail'

In [73]:
name.capitalize()

'Ismail'

In [74]:
name.format()

'ismail'

In [75]:
name = "Ismail Anjum"

In [78]:
myclass = "AI"

In [79]:
myclass

'AI'

In [80]:
age = 20

In [83]:
print("Person Name: " + name)

Person Name: Ismail Anjum

In [90]:
data  = """
Name : {}
Class: {}
Age: {}
"""

In [88]:
data

'\nName : Ismail\nClass: AI\nAge: 21\n'

In [89]:
print(data)

Name : Ismail
Class: AI
Age: 21

In [93]:
data = data.format(name,myclass,age)

In [94]:
print(data)

Name : Ismail Anjum
Class: AI
Age: 20

In [95]:
name = "ali"

In [97]:
print(data)

Name : Ismail Anjum
Class: AI
Age: 20

In [98]:
nameq = "ALO"

In [102]:
print(data.format("kl",myclass,age)
)

Name : Ismail Anjum
Class: AI
Age: 20

In [103]:
data

'\nName : Ismail Anjum\nClass: AI\nAge: 20\n'

In [105]:
print(data.format("yellow",32,32))

Name : Ismail Anjum
Class: AI
Age: 20

In [106]:
name = "ismail"
marks =21
uni = 'superior'

In [108]:
stdData = """
Name: {}
Marks: {}
University: {}
"""

In [109]:
print(stdData.format(name,marks,uni))

Name: ismail
Marks: 21
University: superior

In [111]:
print(stdData.format("ali","23231","agri"))

Name: ali
Marks: 23231
University: agri

In [112]:
x =3

In [113]:
y =34

In [117]:
print(y / x)

11.333333333333334

In [118]:
print(y % x)

1

In [123]:
stdData = """
Name: {Name}
Marks: {Class}
University: {Uni}
"""

In [124]:
print(stdData.format(Name= name,Class =marks, Uni =uni))

Name: ismail
Marks: 21
University: superior

In [126]:
print(stdData.format(Name= "wq",Class ="jds", Uni =12))

Name: wq
Marks: jds
University: 12