In [1]:
dataSet = ['Ismail', 27, 'Male', 32233]

# Dictionary

In [2]:
# It is a key value pair

In [3]:
data = { "Name" : "Ismail",
        "Age" : 20,
        "Gender"  : "Male",
        "Salary" : 23212200
       }
print(type(data))

<class 'dict'>

In [9]:
 data["Name"] = 'Muhammad Ismail'

In [13]:
data

{'Name': 'Muhammad Ismail',
 'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS'}

In [11]:
 data["Class"] = 'BS'

In [12]:
data

{'Name': 'Muhammad Ismail',
 'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS'}

In [19]:
data["Departments"] = ["Finance", "Accounts"]

In [15]:
data

{'Name': 'Muhammad Ismail',
 'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS',
 'Departments': ['FInance', 'Accounts']}

In [21]:
data['ages'] = {
    "age1" : 21, 7 : 212, "age3" : 211
}

In [22]:
print(data)

{'Name': 'Muhammad Ismail', 'Age': 20, 'Gender': 'Male', 'Salary': 23212200, 'Class': 'BS', 'Departments': ['Finance', 'Accounts'], 'ages': {'age1': 21, 7: 212, 'age3': 211}}

In [28]:
data.pop("Name")

'Muhammad Ismail'

In [37]:
data

{'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS',
 'Departments': ['Finance', 'Accounts'],
 'ages': {'age1': 21, 7: 212, 'age3': 211}}

In [38]:
## looping  in dictinoray

In [41]:
## there are four ways for looping dictionary.
##first one is simple as list but it just return keys, if u want the values also than follow the under lines:
for i in data:
    print(i,data[i])

Age 20
Gender Male
Salary 23212200
Class BS
Departments ['Finance', 'Accounts']
ages {'age1': 21, 7: 212, 'age3': 211}

In [43]:
## in second way for just rendering keys
for i in data.keys():
    print(i)

Age
Gender
Salary
Class
Departments
ages

In [44]:
## in third way for rendering just values
for i in data.values():
    print(i)

20
Male
23212200
BS
['Finance', 'Accounts']
{'age1': 21, 7: 212, 'age3': 211}

In [45]:
## in fourth way  for rendering key and values both in once.
for (i,j) in data.items():
    print(i,j)

Age 20
Gender Male
Salary 23212200
Class BS
Departments ['Finance', 'Accounts']
ages {'age1': 21, 7: 212, 'age3': 211}

In [46]:
data

{'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS',
 'Departments': ['Finance', 'Accounts'],
 'ages': {'age1': 21, 7: 212, 'age3': 211}}

In [47]:
listOfDictionary = [{'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS',
 'Departments': ['Finance', 'Accounts'],
 'ages': {'age1': 21, 7: 212, 'age3': 211}},{'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS',
 'Departments': ['Finance', 'Accounts'],
 'ages': {'age1': 21, 7: 212, 'age3': 211}},{'Age': 20,
 'Gender': 'Male',
 'Salary': 23212200,
 'Class': 'BS',
 'Departments': ['Finance', 'Accounts'],
 'ages': {'age1': 21, 7: 212, 'age3': 211}}]

In [48]:
print(listOfDictionary)

[{'Age': 20, 'Gender': 'Male', 'Salary': 23212200, 'Class': 'BS', 'Departments': ['Finance', 'Accounts'], 'ages': {'age1': 21, 7: 212, 'age3': 211}}, {'Age': 20, 'Gender': 'Male', 'Salary': 23212200, 'Class': 'BS', 'Departments': ['Finance', 'Accounts'], 'ages': {'age1': 21, 7: 212, 'age3': 211}}, {'Age': 20, 'Gender': 'Male', 'Salary': 23212200, 'Class': 'BS', 'Departments': ['Finance', 'Accounts'], 'ages': {'age1': 21, 7: 212, 'age3': 211}}]

In [49]:
listOfDictionary[0]["Age"]

20

In [50]:
listOfDictionary.append({'Age': 20, 'Gender': 'Male', 'Salary': 23212200, 'Class': 'BS', 'Departments': ['Finance', 'Accounts'], 'ages': {'age1': 21, 7: 212, 'age3': 211}})

In [54]:
listOfDictionary[0]["Departments"][0]

'Finance'

In [55]:
listOfDictionary[0]['ages'][7]

212

In [56]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [68]:
object1 = {"name": "ismail",
          "class": 12}

In [92]:
object1.fromkeys("e","j")

{'e': 'j'}

In [73]:
v = object1.get("e")

In [93]:
print(object1)

{}

In [85]:
object1.popitem("e")

TypeError: popitem() takes no arguments (1 given)

In [100]:
hobbies = input("Enter your hobbies seperated by comma")

Enter your hobbies seperated by commasd,asd,ad

In [102]:
hobbies.split(", ")

['sd,asd,ad']

In [104]:
# table
tableValue = int(input("Enter value "))

Enter value 5

In [1]:
for i in range(1,11):
    result = (tableValue * i )
    print(f"{tableValue}  *  {i} =  {result}")

NameError: name 'tableValue' is not defined