# 1. Indexing

## First one

In [16]:
employee_data = ['Ismail', 125000, 'Google', 5]
display = '{} is working in {} for {} years and his salary is {}'
afterFormation = display.format(employee_data[0],employee_data[2],employee_data[3],employee_data[1])

## solution:-

In [17]:
print(afterFormation)

Ismail is working in Google for 5 years and his salary is 125000

## Second one

In [26]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science', 'BS', 50000,'28 Januray 2020', '05 February 2020']
display = '''Hello {first} {last},
Your application is accepted for admission in {degree} {subject} in {uni}.
You have to submit fee {fee} before {validDate}.
Your classes will start from {classDate}.
Thanks'''
afterFormation = display.format(first = studentData[0], last = studentData[1] , degree = studentData[4],  subject = studentData[3],  uni = studentData[2],  validDate = studentData[6] ,  classDate = studentData[7], fee = studentData[5]  )

# solution:-

In [27]:
print(afterFormation)

Hello Ahmed Bilal,
Your application is accepted for admission in BS Computer Science in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thanks

# 2. Slicing

In [28]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

## Possitive Slicing

In [42]:
p1 = cities[0:4]
p2 = cities[2: 6]
p3 = cities[5:]

## solution:-

In [45]:
print(p1)
print(p2)
print(p3)

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']

## Negative slicing

In [53]:
n1 = cities[-4:7]
n2 = cities[-5: ]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

## solution:-

In [54]:
print(n1)
print(n2)

['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# 3.Updating Lsits

In [66]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]

In [ ]:
## Apend method

In [67]:
studentData.append('20 February 2019')
studentData.append(8)

In [68]:
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

In [69]:
## insert method
studentData.insert(4, 25000)
studentData.insert(1,'M. Iqbal')

In [70]:
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]

In [71]:
## replacing
studentData[0] = 'Zohaib Ali'
studentData[6] = 7

In [72]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [73]:
## remove method
studentData.remove('Computer Science')
studentData.remove(91.24)

In [74]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]

In [75]:
## pop method
studentData.pop()

8

In [76]:
studentData.pop(3)

25000

In [77]:
print(studentData)

['Zohaib Ali', 'M. Iqbal', 22, 7, 'University of Agriculture', '20 February 2019']

# 4. Multidimensional list tasks

In [78]:
## data
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [85]:
## for loop
### tasks1
#### point 1
for i in employeeData:
    salary = i[1]
    if salary > 50000:
            print(i[0])

Talha
Nasir

In [87]:
#### point 2 
totalSalary = 0
for i in employeeData:
    salary = i[1]
    totalSalary += salary

In [88]:
print(totalSalary)

213000

In [102]:
## tasks2 (   List update  )
for i in employeeData:
    if i[0] == 'Nasir':
        i[1] = 90000
        i[2] = "Product Manager"
        
    elif i[0] == "Khalid":
        i[1] = 50000

In [103]:
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 90000, 'Product Manager'], ['Khalid', 50000, 'DBA']]

# 5. Login User

In [112]:
## Data 1
username = "faizan1214"
password = "qwerty"
emailVerified = False

In [113]:
if username == 'faizan1214':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email not verified")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Email not verified

In [114]:
# Data 2
username = "faizan1214"
password = "qwerty"
emailVerified = True

In [115]:
if username == 'faizan1214':
    if password == 'qwerty':
        if emailVerified == True:
            print("Login Succeed")
        else:
            print("Email not verified")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Login Succeed

# All done by Muhammad Ismail