##  Task
### Playing with Dictionary

In [1]:
userDetail = {
    "name" : '',
     "age"  : '',
     "work" : '',
     "skills" : '' ,
     "degree" : {"title" : '', "major" : '', "completionDate" : ''},
     "salary" : ''
}
## geting inputs
userDetail['name'] = input("Enter Your Name ")
userDetail['age'] = input("Enter Your Age ")
userDetail['work'] = input("Enter Your Work " )
skills  = input("Enter Your Skilss separted by comma ")
skills = skills.split(', ')
userDetail['skills'] = skills
userDetail['degree']["title"] = input("Enter Your Degree Title ")
userDetail['degree']["major"] = input("Enter Your Degree Major ")
userDetail['degree']["completionDate"] = input("Enter Your Degree comletion Date ")
userDetail['salary'] = input("Enter Your Salary ")
## pushing in array
usersDetails = [ ]
usersDetails.insert(1,userDetail)
# ##priniting array
usersDetails

Enter Your Name ismail
Enter Your Age 20
Enter Your Work busiines
Enter Your Skilss separted by comma html,cs,java'
Enter Your Degree Title ics
Enter Your Degree Major computer
Enter Your Degree comletion Date 2019
Enter Your Salary 2000

[{'name': 'ismail',
  'age': '20',
  'work': 'busiines',
  'skills': ["html,cs,java'"],
  'degree': {'title': 'ics', 'major': 'computer', 'completionDate': '2019'},
  'salary': '2000'}]

## Task 2
### Tables from inputs
#### First Way

In [38]:
# table
tableValueStart = int(input("Enter value from which we start the tables "))
tableValueFinish = int(input("Enter value from which we start the tables "))
for i in range(tableValueStart,tableValueFinish + 1):
    print("\n") 
    for j in range(1,11):
        result = (i * j)
        print(f"{i}  *  {j} =  {result}")

Enter value from which we start the tables 4
Enter value from which we start the tables 6

4  *  1 =  4
4  *  2 =  8
4  *  3 =  12
4  *  4 =  16
4  *  5 =  20
4  *  6 =  24
4  *  7 =  28
4  *  8 =  32
4  *  9 =  36
4  *  10 =  40

5  *  1 =  5
5  *  2 =  10
5  *  3 =  15
5  *  4 =  20
5  *  5 =  25
5  *  6 =  30
5  *  7 =  35
5  *  8 =  40
5  *  9 =  45
5  *  10 =  50

6  *  1 =  6
6  *  2 =  12
6  *  3 =  18
6  *  4 =  24
6  *  5 =  30
6  *  6 =  36
6  *  7 =  42
6  *  8 =  48
6  *  9 =  54
6  *  10 =  60

### Second Way

In [11]:
# table
tableValueStart = int(input("Enter value from which we start the tables "))
tableValueFinish = int(input("Enter value from which we start the tables "))
for i in range(1,11):
    for j in range(tableValueStart,tableValueFinish + 1):
           print(f"{i}  *  {j} =  {i * j}", end="\t")
    print()

Enter value from which we start the tables 3
Enter value from which we start the tables 5
1  *  3 =  3	1  *  4 =  4	1  *  5 =  5
2  *  3 =  6	2  *  4 =  8	2  *  5 =  10
3  *  3 =  9	3  *  4 =  12	3  *  5 =  15
4  *  3 =  12	4  *  4 =  16	4  *  5 =  20
5  *  3 =  15	5  *  4 =  20	5  *  5 =  25
6  *  3 =  18	6  *  4 =  24	6  *  5 =  30
7  *  3 =  21	7  *  4 =  28	7  *  5 =  35
8  *  3 =  24	8  *  4 =  32	8  *  5 =  40
9  *  3 =  27	9  *  4 =  36	9  *  5 =  45
10  *  3 =  30	10  *  4 =  40	10  *  5 =  50